html {
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

.dashboard {
    position: relative;
}

body {
    position: relative;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
}

.dashboard {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard .pane {
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 10px gray solid;
}

.dashboard .pane:hover {
    border: 10px lightgrey solid;
    font-weight: bold;
}

.dashboard .gloss {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(76, 76, 76, 1);
    background: -moz-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 0.94)), color-stop(25%, rgba(102, 102, 102, 0.88)), color-stop(39%, rgba(71, 71, 71, 0.81)), color-stop(50%, rgba(44, 44, 44, 0.76)), color-stop(51%, rgba(0, 0, 0, 0.76)), color-stop(60%, rgba(17, 17, 17, 0.71)), color-stop(76%, rgba(43, 43, 43, 0.64)), color-stop(91%, rgba(28, 28, 28, 0.56)), color-stop(100%, rgba(19, 19, 19, 0.52)));
    background: -webkit-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -o-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: linear-gradient(135deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    border: 1px solid black;
}

.dashboard .gloss > span {
    width: 100%;
}

.dashboard a {
    width: 100%;
    height: 100%;
    font-size: 400%;
    color: white;
    text-decoration: none;
}

#share {
    background: url('share.png');
    background-size: cover;
}

#gallery {
    background: url('gallery.png');
    background-size: cover;
}
