:root {
    --dark-color: #19012E
}

html {
    background-color: var(--dark-color);
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

.dashboard {
    position: relative;
}

body {
    position: relative;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover, a:focus {
    color: white;
}

.dashboard {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard .pane {
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 10px lightgray solid;
}

.dashboard .pane:hover, .dashboard .pane:focus {
    border: 10px white solid;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dashboard .gloss:hover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(76, 76, 76, 0.5);
    background: -moz-linear-gradient(-45deg, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.44) 12%, rgba(102, 102, 102, 0.38) 25%, rgba(71, 71, 71, 0.31) 39%, rgba(44, 44, 44, 0.26) 50%, rgba(0, 0, 0, 0.26) 51%, rgba(17, 17, 17, 0.21) 60%, rgba(43, 43, 43, 0.14) 76%, rgba(28, 28, 28, 0.06) 91%, rgba(19, 19, 19, 0.02) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 76, 76, 0.5)), color-stop(12%, rgba(89, 89, 89, 0.44)), color-stop(25%, rgba(102, 102, 102, 0.38)), color-stop(39%, rgba(71, 71, 71, 0.31)), color-stop(50%, rgba(44, 44, 44, 0.26)), color-stop(51%, rgba(0, 0, 0, 0.26)), color-stop(60%, rgba(17, 17, 17, 0.21)), color-stop(76%, rgba(43, 43, 43, 0.14)), color-stop(91%, rgba(28, 28, 28, 0.06)), color-stop(100%, rgba(19, 19, 19, 0.02)));
    background: -webkit-linear-gradient(-45deg, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.44) 12%, rgba(102, 102, 102, 0.38) 25%, rgba(71, 71, 71, 0.31) 39%, rgba(44, 44, 44, 0.26) 50%, rgba(0, 0, 0, 0.26) 51%, rgba(17, 17, 17, 0.21) 60%, rgba(43, 43, 43, 0.14) 76%, rgba(28, 28, 28, 0.06) 91%, rgba(19, 19, 19, 0.02) 100%);
    background: -o-linear-gradient(-45deg, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.44) 12%, rgba(102, 102, 102, 0.38) 25%, rgba(71, 71, 71, 0.31) 39%, rgba(44, 44, 44, 0.26) 50%, rgba(0, 0, 0, 0.26) 51%, rgba(17, 17, 17, 0.21) 60%, rgba(43, 43, 43, 0.14) 76%, rgba(28, 28, 28, 0.06) 91%, rgba(19, 19, 19, 0.02) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.44) 12%, rgba(102, 102, 102, 0.38) 25%, rgba(71, 71, 71, 0.31) 39%, rgba(44, 44, 44, 0.26) 50%, rgba(0, 0, 0, 0.26) 51%, rgba(17, 17, 17, 0.21) 60%, rgba(43, 43, 43, 0.14) 76%, rgba(28, 28, 28, 0.06) 91%, rgba(19, 19, 19, 0.02) 100%);
    background: linear-gradient(135deg, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.44) 12%, rgba(102, 102, 102, 0.38) 25%, rgba(71, 71, 71, 0.31) 39%, rgba(44, 44, 44, 0.26) 50%, rgba(0, 0, 0, 0.26) 51%, rgba(17, 17, 17, 0.21) 60%, rgba(43, 43, 43, 0.14) 76%, rgba(28, 28, 28, 0.06) 91%, rgba(19, 19, 19, 0.02) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    border: 1px solid black;

}

.dashboard .gloss {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(76, 76, 76, 1);
    background: -moz-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 0.94)), color-stop(25%, rgba(102, 102, 102, 0.88)), color-stop(39%, rgba(71, 71, 71, 0.81)), color-stop(50%, rgba(44, 44, 44, 0.76)), color-stop(51%, rgba(0, 0, 0, 0.76)), color-stop(60%, rgba(17, 17, 17, 0.71)), color-stop(76%, rgba(43, 43, 43, 0.64)), color-stop(91%, rgba(28, 28, 28, 0.56)), color-stop(100%, rgba(19, 19, 19, 0.52)));
    background: -webkit-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -o-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    background: linear-gradient(135deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.88) 25%, rgba(71, 71, 71, 0.81) 39%, rgba(44, 44, 44, 0.76) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(17, 17, 17, 0.71) 60%, rgba(43, 43, 43, 0.64) 76%, rgba(28, 28, 28, 0.56) 91%, rgba(19, 19, 19, 0.52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    border: 1px solid black;
}

.dashboard .gloss > span {
    width: 100%;
}

.dashboard a {
    width: 100%;
    height: 100%;
    font-size: 400%;
    color: white;
    text-decoration: none;
}

#share {
    background: url('share.jpg');
    background-size: cover;
}

#resume {
    background: url('resume.jpg');
    background-size: cover;
}

#gallery {
    background: url('gallery.jpg');
    background-size: cover;
}

#github {
    background: url('github.jpg');
    background-size: cover;
}

#seasons {
    background: url('seasons.jpg');
    background-size: cover;
}

#haxxor {
    background: url('haxxor.jpg');
    background-size: cover;
}
